<div class="container">

<div class='loader'>
  <div class='loader-container'>
    <h3><b>NAME is booting up...</b></h3>
    <div class='progress progress-striped active'>
      <div class='progress-bar progress-bar-color' id='bar' role='progressbar' style='width: 0%;'></div>
    </div>
  </div>
</div>

	<div class="content">
	<div class="text-vertical-center">
		<h1>Welcome to PRODUCTNAME</h1>
		<p>This is the homepage</p>
		<form role="form" action="/questions" accept-charset="UTF-8" method="POST">
			<div class="form-group">
				<input type="text" name="question" class="form-control" placeholder="Enter Question Here">
			</div>
				<button type="submit" class="btn btn-success btn-lg">Ask!</button>	
		</form>
		</p>
	</div>
	</div>
</div>