<div class="container">
	<div class="content">
	<div class="text-vertical-center">
		<h1>Welcome to PRODUCTNAME</h1>
		<p>This is the homepage</p>
		<form role="form" action="/questions" accept-charset="UTF-8" method="POST">
			<input type="text" name="question" class="form-control" placeholder="Enter Question Here">
			<button type="submit" class="btn btn-primary btn-lg">Ask!</button>
		</form>
		</p>
	</div>
	</div>
</div>