<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<<<<<<< HEAD
    {{{body}}}

    <script type="text/javascript" src="/javascript/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/javascript/loader.js"></script>
    <script type="text/javascript" src="/javascript/append.js"></script>
=======
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    {{{body}}}
>>>>>>> afe314dd786f9719108420dc083d1b3ba22c15ee
  </body>
</html>
