<div class="container">
  <h1>{{this.question_name}}</h1>
	  <ul>
	  {{#each options}}
	  	<li>{{this.name}}</li>
	  {{/each}}
	  </ul>
</div>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script type="text/javascript" src="/javascript/socketclient.js"></script>
